%table.table.table-hover.table-bordered
  - @items.each do |item|
    %tr
      %td= item.name
      %td= check_box_tag item.id, nil, item.hay, class: 'ajaxable'
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %tr= render 'form'
