%table.table.table-hover.table-bordered
  - @items.each do |item|
    %tr
      %td= item.name
      %td= check_box_tag item.id, nil, item.hay, class: 'ajaxable'
      %td= link_to 'Quitar', item, method: :delete, data: { confirm: '¿Segurísimo?' }, class: 'btn'
  %tr= render 'form'
