%ul
  - @items.each do |item|
    %li
      %span= item.name
      %span= item.hay
      %span= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= render 'form'
